/* navigation bar colors */
@import '../../../../styles/colors';

$navigation-bar-background: #C1C0C0;
$navigation-tab-font-color: $text-secondary-light-color;
$navigation-active-tab-color: #000;
$navigation-active-underline-color: #000;
