@import '../../../Common/Colors/index.scss';

/* styles for overview sub-module of hypertension */
:local(.overview-screen) {
  &.not-active {
    width: 700px;
    margin: auto;
    position: relative;
    top: 100px;
    button {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .overview-screen-element {
    margin-top: 20px;

    .header {
      margin-bottom: 20px;
    }
  }

  .medication-overview-card {
    min-height: 250px;
  }
}

/* styles for stats overview */
:local(.stats-overview) {
  display: flex;
  justify-content: space-between;
}

/* styling medication overview */
:local(.medication-overview) {
  color: $text-secondary-dark-color;
  font-size: 0.9rem;

  .medication {
    .heading {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .timer {
      font-weight: 600;
      margin-bottom: 20px;
    }

    .drug {
      justify-content: center;
      line-height: 2.29;
      margin-top: 10px;
    }

    .line-saperator {
      border-bottom: 1px solid $line-saperator-color;
    }

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }
  }
}
