/* Background Colors */
$primary-bg-color-1: #3a6ca9;
$primary-bg-color-3: #f7f7f7;
$secondary-bg-color-1: #f8f8f8;
$secondary-bg-color-2: #f3f3f3;
$secondary-bg-color-3: #ffffff;
$secondary-bg-color-4: #e6e6e6;
$disabled-bg-color: #f6f6f6;
$completed-bg-color: #84d584;
$error-bg-color: #c55353;