/* Stroke Colors */
$primary-font-stroke-1: #7d7d7d;
$primary-font-stroke-2: #4b4b4b;
$primary-font-stroke-3: #a9c0db;
$secondary-stroke-color-1: #ffffff;
$primary-font-card-header-stroke: #5481b8;
$error-stroke-color: #c55353;
$warning-stroke-color: #fea701;
$bolder-font-color: #262626;
