/* Table Colors */
$table-data-color: #4b4b4b;
$table-border-color: #d2d2d2;

/* Card Colors */
$primary-card-border-color: #d2d2d2;
$schedule-list-card-status: #32ba6d;
$primary-card-split-stroke-color: #e8e8e8;
$disabled-card-color: #f9f9f9;
$settings-card-color: #4b4b4b;
$settings-card-note-color: #9b9b9b;

/* Others */
$primary-opacity-font-1: #9aa7ba;
$hovered-color: #edf2f7;
$modal-header-color-1: #212121;
/* Added base color */
